<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='/css/bootstrap.min.css' )}} ">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/css/main.css')}}">
</head>
<body>
	
	<!--Barra de Navegacion-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">Au Intermedio</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link" href="/horarios">Horarios</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/corridas">Corridas</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

 

	<div class="container pb-5">

		{% block hide %}{% endblock %}

	<!----------Mensajes Flash---------------------->
	    {% with message = get_flashed_messages() %}
	    {% if message %}
	    <div class="alert alert-warning alert-dismissible fade show rounded-3 shadow" role="alert">
	    <strong class="text-body">{{message}} </strong>
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>
	    {% endif %}
	    {% endwith %}
	<!------------ Contenido------------------------->
	    
		<div class="row mt-2 ">
			{% block content %}{% endblock %}
		</div>
	</div>

<!-------------------------JaavaScripts----------------------------------------->
   <script src="{{url_for('static', filename = '/js/bootstrap.bundle.min.js')}} "></script>
   <script src="{{url_for('static', filename ='js/main.js')}} "></script>

</body>
</html>