<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Display</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='/css/bootstrap1.min.css' )}} ">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/css/main.css')}}">
</head>
<body>
<div class="triangulosup"></div>


<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for h in horario%}
      	{% if loop.index == 1 %}
      	<div class="carousel-item active">
      	{% else %}
      	<div class="carousel-item">
      	{% endif %}
      		<div class="row-logo row ">
    			<div class="logo col "></div>
  			</div>

  			<div class="marca row"><h1>Autobuses Intermedios</h1></div>

		   <div class="destino row ">
			    <img src="../static/img/autobus.png" alt="bus" class="col-1">
			    <h3 class="col-8 h2">CORRIDA {{terminal.terminal}} - {{h.destino}}</h3>
			    <img src="../static/img/map.png" alt="mapa" class="col col-1">
			    <p class="anden "  >ANDEN: {{h.anden}}</p>
		   </div>

<!--area central de informacion-->

			<div class="row infocontent justify-content-evenly mt-3 ">
  <!--Escalas-->
 				 <div class="col-7 escalas">
    				<div class="row row-title">
      					<div class="col-1 pin-icon "></div>
      						<p class="tilte-escalas col h2">Escalas</p>
      						{% set esc = h.escala.split(',') %}
    				</div>
    				<div class="row escalas-content my-3">
      			{% for e in esc %}
      					<div class="col-3"><p class="border-right border-danger h4 text-center item">{{e}}</p></div>
     			{% endfor %}
    				</div>
 				 </div>

  <!--Area de horarios-->
  				<div class=" col-4 horarios ">
   					 <div class="row row-title">
      					<div class="col-2 wach-icon "></div>
      					<p class="title-horario col h2">Horarios</p>
    				</div>
    			{% set hor = h.horario.split(',') %}
    				<div class="row horarios-content my-3">
      					<div class="d-flex flex-wrap">
        			{% for h in hor%}
          					<div class="border-right border-danger px-2 justify-content-center">
            					<p class="text-center h4">{{h}}</p>
          					</div>
        			{% endfor %}
      					</div>
    				</div>
  				</div>	
      			{% endfor %}	
   			</div>
  		</div>
  	</div>
</div>

<div class="trianguloinf"></div>
</body>

	<script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}} "></script>
   	<script src="{{url_for('static', filename ='js/main.js')}} "></script>
   	<script src="{{url_for('static', filename ='js/jquery.js')}} "></script>
</html>