<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% set t = horario|length * tiempo.time %}
	<meta http-equiv="refresh" content="{{t}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Display</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='/css/bootstrap1.min.css' )}} ">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/css/main.css')}}">
</head>
<body>

<div class="triangulosup"></div>

<!--------- Contanido Carrusel--------------------->
<div class="container-fluid">
	<did class="carousel sline carousel-fade" id="carousel" data-bs-ride = "carousel">
		<div class="carousel-inner">
			{% for i in horario %}
			{% if loop.index == 1 %}
			<div class="carousel-item active" data-bs-interval="{{(tiempo.time*1000)}}">
			{% else %}
			<div class="carousel-item" data-bs-interval="{{(tiempo.time*1000)}}">
			{% endif %}
				<div class="row-logo row">
					<div class="logo col"></div>
				</div>
				<div class="marca row text-center fw-bolder">
					<p class="h1">Autobuses Intermedios</p>
				</div>
				<div class="destino row">
					<img class="img-fluid" src="{{url_for('static', filename = '/img/autobus.png')}}" alt="bus" class="col-1">
					<p class="col-8 h2 fw-bolder">CORRIDA {{terminal.terminal}} - {{i.destino}} </p>
					<img class="img-fluid" src="{{url_for('static', filename = '/img/map.png')}}" alt="" class="col-1">
					<p class="h1 fw-bolder">Anden: {{i.anden}}</p>
				</div>
<!----------------area central de la informacion------------->
				<div class="row justify-content-between">
					<div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
						<div class="row border-bottom border-dark border-2">
							<div class="col1 pin-icon ms-3 mt-2"></div>
							<p class="col h2">Escalas</p>
						</div>
				<!--------------------Escalas ----------->
						{% set esc = i.escala.split(',') %}
						<div class="d-flex escalas p-3">
							{% for e in esc %}
							<p class="flex-grow h2 border-end border-danger p-2 fw-bolder">{{e}}</p>
							{% endfor %}
						</div>
					</div>
			<!------------- Horarios -------------------------->
					<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 horarios me-5">
						<div class="row row-title">
							<div class="col-2 wach-icon mt-2"></div>
							<p class="title-horario col h2">Horarios</p> </div>
						{% set hor = i.horario.split(',') %}
						<div class="row horarios-content my-3">
							<div class="d-flex flex-wrap aling-items-center">
								{% for h in hor %}
								<div class="mb-3 border-end border-danger px-2 aling-items-center">
									<p class="text-center h2 fw-semibold">{{h}}</p>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					
				</div>		
			</div>
			{% endfor %}
		</div>
	</did>
</div>



<div class="trianguloinf"></div>
</body>

	<script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}} "></script>
   	<script src="{{url_for('static', filename ='js/main.js')}} "></script>
   	<script src="{{url_for('static', filename ='js/jquery.js')}} "></script>
</html>
