{% extends 'base.html' %}

    
 
    <!---------Campos Ocultos---------->
    {% block hide %}
    {% for i in corridas %}
        <span class="none" id="datad{{i.id}}">{{i.destino}}</span> 
        <span class="none" id="data{{i.id}}">{{i.escala}}</span>
     {% endfor %}   
     {% endblock %}
    {% block content %}

      <!--------Contenido del titulo------------->

 <!--     <div class="row justify-content-center ">
        <h1 class=" d-flex justify-content-center">Horarios Servicio Intermedio</h1>
      </div>-->
              
      <!---------Ajustador de tiempo de transición---------->
      <div class="row">
        <div class="col-3 bg-transparent shadow-lg p-2 rounded-3 ms-4">
          <form action="/time" method="post">
            <div class="input-group input-group-sm p-2 ">

              <span class="input-group-text text-secondary">Tiempo (S)</span>
              <input type="number" class="form-control form-control-sm text-end" name="time" value="{{time.time}}" required>              
              <button class="btn btn-success btn-sm" type="submit">Cambiar</button>

            </div>
          </form>          
        </div>
      </div>

      <!-----Contenedor de Formulario---------->
      <div class="row justify-content-between">
      <div class="formcontent col-md-12 col-ms-12 col-lg-3 ms-4 mt-2 rounded-4 shadow-lg bg-transparent">
        <div class="row titulo p-3">
          <h3 class="mb-5 text-center text-secondary">Generar nuevo horario</h3>
        </div>
        <form class="mb-5" action="/horarios" method="post">
        <div class="input-group mb-3">

          <button class="btn btn-dark dropdown-toggle btn-sm " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Destino
          </button>
          <ul class="dropdown-menu">
            {% for i in corridas %}
            <li><a class="dropdown-item" href="#" onclick="seleccion({{i.id}})">{{i.destino}}</a></li>
            {% endfor%}
          </ul>
          <input type="text" id="destino"name="destino" class="form-control form-control-sm" readonly>
          <span class="input-group-text text-secondary">Anden-></span>
          <input type="number" id="anden" name="anden" class="form-control form-control-sm">
        
        </div>

      <div class="input-group mb-3">
        <span class="input-group-text text-secondary">Escalas</span>
        <textarea class="form-control form-control-sm" placeholder="" id="escala" name="escala" readonly></textarea>
      </div>

      <div class="input-group mb-3">
        <select name="hora" id="hora" class="form-control form-control-sm text-secondary">
           <option value = "00"> 00 </option>
           {% for i in range(1,25) %} 
          <option value=" {{'%02d' % i }}">{{ '%02d' % i }} </option>
            {% endfor %}
        </select>
        <span class="input-group-text"> : </span>
        <select name="minuto" id="minuto" class="form-control form-control-sm text-secondary">
          <option value="00">00</option>
           {% for i in range(5,60,5) %}
          <option value="{{ '%02d' % i }}"> {{ '%02d'%i }} </option>
          {% endfor %}
        </select>
        <button class="btn btn-dark btn-sm" onclick="add_hora()" type="button">Agregar</button>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text text-secondary">Horarios</span>
        <textarea class="form-control form-control-sm" placeholder="" id="horarios" name="horarios" readonly></textarea>
      </div>

      <button class="btn btn-success btn-sm" type="submit">Agregar Horario</button>
      <button class="btn btn-dark btn-sm" onclick="reset()" type="button">Limpiar Campos</button>
      </form>    
      </div>


      <!-------------Contenedor de Tabla-----offset-md-3------------------>
      <div class="tablecontent col-md-12 col-sm-12 col-lg-8 rounded-4 m-2 shadow-lg bg-transparent">
          <div class="row titulo p-3">
            <h3 class="mb-2 text-center text-secondary">Horarios agregados</h3>
          </div>
          <table class="table table-sm table-defauld table-striped table-hover align-middle table-borderless" id="myTable">
            <thead>
              <tr>
                <th>Destino</th>
                <th>Escalas</th>
                <th>Horarios</th>
                <th>Anden</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>

              {% for i in horarios%}
              <tr>
                <td class="text-secondary">{{i.destino}}</td>
                <td class="text-secondary">{{i.escala}}</td>
                <td class="text-secondary">{{i.horario}}</td>
                <td class="text-secondary">{{i.anden}}</td>
                <td class="text-secondary">
                  <a href="/modal/{{i.id}}" class="btn btn-sm btn-success">Editar</a>
                  <a href="/delete/{{i.id}}" class=" btn btn-sm btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
      </div>
      </div>
    {% endblock %}   

    {% block script %}

      <script>
        
        $(document).ready( function () {
          $('#myTable').DataTable(
          {
            scrollY: 370,
            "lengthChange" : false,
            "pageLength": 4

          }
            

            );
        } );

      </script>

    {% endblock %}
        

      





    
    













 
  
