{% extends 'base.html' %}

    
 
    <!---------Campos Ocultos---------->
    {% block hide %}
    {% for i in corridas %}
        <label class="none" id="datad{{i.id}}">{{i.destino}}</label> 
        <label class="none" id="data{{i.id}}">{{i.escala}}</label><br>
     {% endfor %}   
     {% endblock %}
    {% block content %}

      <!--------Contenido del titulo------------->

      <div class="row justify-content-center">
        <h1>Horarios Servicio Intermedio</h1>
      </div>

      <!-----Contenedor de Formulario---------->
      <div class="formcontent col-md-4 col-ms-12 col-lg-4">
        <form action="/horarios" method="post">
      <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Destino
        </button>
        <ul class="dropdown-menu">
          {% for i in corridas %}
          <li><a class="dropdown-item" href="#" onclick="seleccion({{i.id}})">{{i.destino}}</a></li>
          {% endfor%}
        </ul>
        <input type="text" id="destino"name="destino" class="form-control form-control-sm" aria-label="Text input with dropdown button" readonly>
        <span class="input-group-text">Anden-></span>
        <input type="number" id="anden" name="anden" class="form-control form-control-sm">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Escalas</span>
        <textarea class="form-control form-control-sm" placeholder="" id="escala" name="escala" readonly></textarea>
      </div>

      <div class="input-group mb-3">
        <select name="hora" id="hora" class="form-control form-control-sm">
           <option value = "00"> 00 </option>
           {% for i in range(1,25) %} 
          <option value=" {{ '%02d' % i }} ">{{ '%02d' % i }} </option>
            {% endfor %}
        </select>
        <span class="input-group-text"> : </span>
        <select name="minuto" id="minuto" class="form-control form-control-sm">
          <option value="00">00</option>
           {% for i in range(1,60,5) %}
          <option value=" {{ '%02d' % i }} "> {{ '%02d' % i }} </option>
          {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" onclick="add_hora()" type="button">Agregar</button>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Horarios</span>
        <textarea class="form-control form-control-sm" placeholder="" id="horarios" name="horarios" readonly></textarea>
      </div>

      <button class="btn btn-success" type="submit">Agregar Horario</button>
      <button class="btn btn-secondary" onclick="reset()" type="button">Limpiar Campos</button>
      </form>    
      </div>


      <!-------------Contenedor de Tabla-----offset-md-3------------------>
      <div class="tablecontent col-md-8 col-sm-12 col-lg-8">
          <table class="table table-sm table-striped offset-2 align-middle offset-sm-0">
            <caption><h2>Horarios Agregados</h2></caption>
            <thead>
              <tr>
                <th>Destino</th>
                <th>Escalas</th>
                <th>Horarios</th>
                <th>Anden</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for i in horarios%}
              <tr>
                <td>{{i.destino}}</td>
                <td>{{i.escala}}</td>
                <td>{{i.horario}}</td>
                <td>{{i.anden}}</td>
                <td>
                  <a href="/edit/{{i.id}}" class="btn btn-outline-success">Editar</a>
                  <a href="/eliminar/{{i.id}}" class=" btn btn-outline-secondary">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    {% endblock %}   
        

      





    
    













 
  
